html,
body {
    overflow-x: hidden;
    /* Prevent scroll on narrow devices */
}

.navbar-brand {
    font-size: 24px;
}

.navbar-reg {
    background-color:#097B96;
}

.navbar-container {
    padding: 5px 0 5px 0;

}

.navbar.navbar-fixed-top {
    background-color: #004680;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}


.navbar.navbar-fixed-top a {
    color: white;

}

.navbar.navbar-fixed-top a:hover {
    color: black;
}

.nav > li {
    margin: 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #CD0000;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0, 0, 0, .8);
}

.navbar.navbar-fixed-top.fixed-theme a {
    color: black;
}

.navbar-brand.fixed-theme {
    font-size: 18px;

}
.navbar-container.fixed-theme {
    padding: 0;

}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container {
    transition: 0.8s;
    -webkit-transition: 0.8s;
}

#navbarDropdown{
    width: 159px;
    text-align: center;
}
.itemDropDown{
    color: #808080 !important;
    line-height: 2.5;
    padding-left: 22px;
}
.nav.open>a{
    background-color: #eeeeee63;
    border-color: #337ab7;
}