<body>
<div class="container main-container">
    <div class="row">
        <h2 id="aboutus" align="center">About us</h2>
        <h3 align="center"> Learn about our team and background</h3>
        <br>
        <div name="footer" class='col-md-3 well about'>
            <a href="https://www.linkedin.com/in/karina-martinez-aab2ab129/" target="_blank"><img class='thumbnail'                                                            title='Karina Martinez'                                                                         src='https://media.licdn.com/dms/image/C5603AQFEKVvb1VU27g/profile-displayphoto-shrink_800_800/0?e=1533168000&v=beta&t=g04qdRicvvunu58LDeSbWM5aIgxUVov6ieRMlRrWUqg'></a>
            <div class="col-md-12 "><strong>Karina Martinez</strong> is a junior web developer, passionate about solving problems. She is 
               dedicated, diligent, responsible and a team player, always learning and
                applying it in new projects.
                          </div>
        </div>
        <div name="footer" class='col-md-3 well about'>

            <a href="https://www.linkedin.com/in/marina-shemesh-98133311/" target="_blank"><img class='thumbnail'                                                                                             title='Marina Shemesh'                                                                                                src='https://scontent.fsdv2-1.fna.fbcdn.net/v/t1.0-9/10361393_985732911455266_6639260019154170363_n.jpg?_nc_cat=0&oh=a4587f8a6390668ff8fad6dafbe80dbb&oe=5B845B80'></a>
            <div class="col-md-12 "><strong>Marina Shemesh </strong>is an experienced content writer who has fallen in love
                with writing code. She completed a coding bootcamp at Elevation Academy and enjoys to combine her creativity across various fileds.
            </div>

        </div>
        <div name="footer" class='col-md-3 well about'>
            <a href="https://www.linkedin.com/in/yejiel-wahnich/" target="_blank"><img class='thumbnail'
                                                                                       title='Yejiel Wahnich'
                                                                                       src='https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAqlAAAAJGUyZWU1YTJiLTg0ODMtNDY1ZC1hNmI2LTE5NGQ4MTgwM2ZhYw.jpg'></a>
            <div class="col-md-12 "><strong>Yejiel Wahnich</strong> is a Elevation Academy coding bootcamp graduate. He was a web master who followed his passion and became a web developer. Eager to learn, love to create and passionate about life.
            </div>
        </div>

        <div name="footer" class='col-md-3 well about'>

            <a href="https://www.linkedin.com/in/advance512/" target="_blank"><img class='thumbnail'                                                                                            title='Alon Diamant'                                                                                                   src="https://media.licdn.com/dms/image/C4E03AQHVqh6VuLQioA/profile-displayphoto-shrink_800_800/0?e=1533168000&v=beta&t=kX2Kj4m-kge0ZABjK8Lo-iYR5l7_S7rRXpt9wNshzxY"></a>
            <div class="col-md-12 "> <strong>Alon Diamant</strong> is highly technical and data driven, in love with technology since he've been a kid. Attention to detail, pragmatism, hands on. 
             General engineer.
             Back end dev. An really enjoys taking part in hackatons.
            </div>
        </div>
    </div>
</div>
</body>

