<body>
<div class="container main-container">
    <div class="row">
        <h2 id="aboutus" align="center">About Us</h2>
        <h3 align="center"> Learn about our team and background</h3>
        <br>
        <div name="footer" class='col-md-3 well about'>
            <a href="https://www.linkedin.com/in/karina-martinez-aab2ab129/" target="_blank"><img class='thumbnail'
                                                                                                  title='Karina Martinez'
                                                                                                  src='https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAkVAAAAJGIzMzAwNDk0LTNmMzMtNDA1OC05Njg0LTNjY2JhYzI5MWIzNA.jpg'></a>
            <div class="col-md-12 "><strong>Karina Martinez</strong> is a junior web developer, passionate about solving problems.
                Highly motivated and creative, self-learning, dedicated, diligent, responsible and a team player, always learning and
                applying it in new projects.
                I came from Colombia a few months ago with background in microbiology and management.
                Specialties: JavaScript, Angular.js, Node.js, mongoDB, CSS, HTML5, React.
            </div>
        </div>
        <div name="footer" class='col-md-3 well about'>

            <a href="https://www.linkedin.com/in/marina-shemesh-98133311/" target="_blank"><img class='thumbnail'
                                                                                                title='Marina Shemesh'
                                                                                                src='https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/10361393_985732911455266_6639260019154170363_n.jpg?oh=ca723110b7127ce496b70c5bd6a94386&oe=59823280'></a>
            <div class="col-md-12 "><strong>Marina Shemesh </strong>is an experienced content writer who has fallen in love
                with writing code. She recently completed a coding bootcamp at Elevation Academy and is looking now for
                a position as a junior full stack developer. She created several web apps using the MEAN Stack, customed
                various API's to serve data to apps, learned about working with MongoDB and mySQL databases.
            </div>

        </div>
        <div name="footer" class='col-md-3 well about'>

            <a href="https://www.linkedin.com/in/yejiel-wahnich/" target="_blank"><img class='thumbnail'
                                                                                       title='Yejiel Wahnich'
                                                                                       src='https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAqlAAAAJGUyZWU1YTJiLTg0ODMtNDY1ZC1hNmI2LTE5NGQ4MTgwM2ZhYw.jpg'></a>
            <div class="col-md-12 "><strong>Yejiel Wahnich</strong> is a web developer, self taught and Elevation Academy coding bootcamp graduate.
                He came to Israel a few months ago from Mexico. There he worked at a factory as a web master (web
                development, SEO and SEM). Now he followed his passion and made a career change as a web developer.
                Eager to learn, love to create and passionate about life.
            </div>
        </div>

        <div name="footer" class='col-md-3 well about'>

            <a href="https://www.linkedin.com/in/benjamin-abitbol-93693b39/" target="_blank"><img class='thumbnail'
                                                                                                  title='Benjamin Abitbol'
                                                                                                  src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAhQAAAAJGJkNDZhYWM3LWFkNDMtNGI5MS1hYzRkLWViMzg1YzkzZWU1MQ.jpg"></a>
            <div class="col-md-12 "> <strong>Benjamin Abitbol </strong>is a junior Web Developer with a background
                in Online Digital Marketing. I use the MEAN
                Stack to solve problems, write beautiful javascript, and achieve
                client goals. To him coding is like a state of transition from  imagination to making it happen
                and he loves it! He recently made ALlyah from Paris and is now looking to hone his skills in programming.
            </div>
        </div>
    </div>
</div>
</body>

