<!-- addForm.html -->

<!-- "Join Team" (Post) Form -->
<div class="col-md-5">

    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Join The Cooking Team! </h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">

            <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
            <form ng-submit="registerCook()" novalidate>

                <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                <div class="form-group">
                    <label for="username">Username <span class="badge">All fields required</span></label>
                    <input type="text" class="form-control" placeholder="Username" ng-model="user.username" required></input>
                </div>

                <div class="form-group">
                    <label for="fullname">Full Name </label>
                    <input type="text" class="form-control" placeholder="First Name and Last Name" ng-model="user.fullname" required>
                </div>
                <div class="form-group">
                    <label for="email">Email </label>
                    <input type="text" class="form-control" placeholder="youremail@provider.com" ng-model="user.email" required>
                </div>

                <div class="form-group">
                    <label for="password">Password </label>
                    <input type="password" class="form-control" placeholder="*********" ng-model="user.password" required>
                </div>


                <input type="hidden" class="form-control" id="latitude" value="32.04" ng-model="user.latitude" readonly>
                <input type="hidden" class="form-control" id="longitude" value="34.46" ng-model="user.longitude" readonly>

                <div class="form-group">
                    <!-- Note RefreshLoc button tied to addCtrl. This requests a refresh of the HTML5 verified location. -->
                    <input type="hidden" class="form-control" id="verified" placeholder="Nope (Thanks for spamming my map...)" ng-model="user.htmlverified" readonly>
                </div>
                <button type="submit" class="btn btn-danger btn-block" ng-disabled="addForm.$invalid">Submit</button>
            </form>
        </div>





        <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->

    </div>
</div>
