<div class="container-edit">
<h3 class="profileTitle editTitle">Edit your entries:</h3>
<div class="container" ng-repeat="Food in user.foods track by $index">
    <form class="form-horizontal" action="account/updateJOurney" method="POST">
        <div class="form-group" style="display:none;">
            <label class="col-sm-3 control-label" for="index"></label>
            <div class="col-sm-7">
                <input class="form-control" type="text" name="index" value={{$index}}>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="dish">Journey</label>
            <div class="col-sm-7">
                <input class="form-control" type="text" name="dish"  ng-model='Food.dish'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="description">Description</label>
            <div class="col-sm-7">
                <input class="form-control" type="text" name="description" ng-model='Food.description'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="price">Story</label>
            <div class="col-sm-7">
                <textarea class="form-control" type="text" name="price"  ng-model='Food.price' />
            </div>
        </div>
                <div class="form-group">
                   <label class="col-sm-3 control-label" for="type">City</label>
            <div class="col-sm-7">
                <input class="form-control" type="text" name="type"  ng-model='Food.type'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="img">Picture</label>
            <div class="col-sm-7">
                <input class="form-control" type="text" name="git "  ng-model='Food.img'>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
                <button class="btn btn saveProfile" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>
</div>