<div class="container main-container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <!-- Links to the two menu views included -->

        </ul>
    </div>
    <!-- Map and Side Panel -->
    <div class="row content">
        <!-- Google Map -->
        <div class="col-md-7">
            <div id="map" style="width:600px; height:600px"></div>
        </div>
        <!-- Side Panel -->
        <ui-view></ui-view>
        <!--<div ng-view></div>-->
    </div>
    <hr/>
    <!-- Footer -->


</div>